Source: tskmount-fuse
Section: utils
Priority: optional
Maintainer: Jean Diraison <jean.diraison@ac-versailles.fr>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: tskmount-fuse
Architecture: any
Depends: fuse-utils, libfuse2, libfuse-perl, sleuthkit
Description: TSKmount-Fuse filesystem to recover deleted files
 TSKmount is a Fuse filesystem written in perl and based on The Sleuth Kit
 tools. It is intended to provide an easy way to recover deleted files over
 ext2, fat and ntfs filesystems.
 TSKmount runs on Linux, BSD and other Unix systems, see requirements for
 details.
 TSKmount-Fuse is a free software; you can freely use, modify and redistribute
 it under the terms of GNU GPL version 2 license.

